services:

  searxng:
    container_name: searxng
    image: searxng/searxng:latest
    restart: unless-stopped
    volumes:
      - /mnt/searxng/data:/etc/searxng
      - /mnt/searxng/config:/var/cache/searxng
    ports:
      - '8080:8080'

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
