services:

  navidrome:
    image: deluan/navidrome:latest
    user: 1000:1000 # should be owner of volumes
    ports:
      - "4533:4533"
    restart: unless-stopped
    environment:
      ND_ENABLETRANSCODINGCONFIG: "true"
      ND_DEFAULTDOWNSAMPLINGFORMAT: ""
      ND_DEFAULTDOWNSAMPLINGBITRATE: ""
    volumes:
      - /mnt/navidrome/data:/data
      - /mnt/navidrome/music:/music:ro

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
